.topBarContainer {
  overflow: hidden;
}

.cropThis {
  object-fit: contain;
  overflow: hidden;
}

.imageCropped {
  border: 5px solid white;
  height: 150px;
  width: auto;
  border-radius: 50%;
  transform: rotate(90deg);
  margin: 25px;
}
